body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e11364;
}

#header {
    background-color: white;
    padding: 0 30px;
    margin:  50PX;
    margin-top: 50px;
}

#header-content {
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}

#header-content h1{
    background-color: #bc105c;
    color: white;
    padding: 10px;
    margin: 0 -25px;
}

#main {
    margin: 20px 50px;
}

.main-article {
    background-color: #bc105c;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.main-article h2{
    color: white;
    text-align: left;
    margin-left: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

.section h3 {
    text-align: right;
    margin-right: 20px;
}

.section hr.dotted-line{
    border: none;
    border-top: 2px dotted #bc105c;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section p {
    margin-bottom: 10px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.section button {
    background-color: #2c8f20;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#footer {
    background-color: #e96093;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#footer p{
    margin: 0;
    color: white;
}

.main-article H3{
    color: #9c0037;
}

.section-comprar {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.section-comprar img{
    width: 50%;
    float: left;
    margin-right: 20px;
}

.blue-text {
    color: blue;
}

.section-comprar-otros {
    background-color: white;
    padding: 20px;
    margin: 20px 50px 20px 50px;    
    border-radius: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: calc(25% - 10px);
    margin: 5px;
}
.additional-content {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.additional-content h4 {
    margin-top: 0;
    text-align: center;
    
}

.additional-content button {
    padding: 10px 20px;
    background-color: #2c8f20;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.text-left-comprar button{
    padding: 10px 20px;
    background-color: #2c8f20;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

a.enlace:link{
    background-color: blue;
}